.ratings {
	width: 100%;
	min-height: 100vh;
	background-color: rgb(252, 252, 252);
}

.ratings-section {
	display: flex;
	flex-direction: column;
	padding: 3rem 4rem;
	justify-content: center;
}

.ratings-section h1 {
	font-size: 24px;
	font-weight: 600;
	color: rgb(82, 82, 82);
}

.line {
	width: 80px;
	border: 2px solid #058e7784;
}

.ratings-container {
	width: 100%;
	display: flex;
    flex-wrap: wrap;
    gap: 1.4rem;
    padding: 2rem 0rem;
}

.ratings-text {
    width: 330px;
    height: 150px;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    background: #f4f4f4;
    box-shadow: 0 0 2px rgb(142, 142, 142);
    padding: 1.5rem;
    border-radius: 10px;
    word-wrap: break-word;
}

.ratings-text h2 {
    font-size: 17px;
    font-weight: 600;
    color: #058e77;
}

.stars {
    display: flex;
    color: rgb(176, 150, 0);
    gap: 2px;
}
