.film-section {
	width: 100%;
	height: 500px;
	padding: 2rem 5rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: center;
}

.film-section h2 {
	font-size: 26px;
	font-weight: 700;
}

.film {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.film img {
	width: 150px;
	border-radius: 10px;
}

.film img:hover {
	cursor: pointer;
	transform: scale(1.05);
	transition: 0.2s;
}

.film img:not(:hover) {
	transform: scale(1);
	transition: 0.4s;
}

.film-text {
	display: flex;
	flex-direction: column;
	padding: 0rem 0.5rem;
}

.film-text h3 {
	font-size: 17px;
	font-weight: 500;
}

.film-text p {
	font-size: 16px;
	font-weight: lighter;
}

/** Slider */

.slick-prev,
.slick-next {
	top: 35% !important;
}

@media (max-width: 767px) {
	.film-section {
		height: 450px;
		padding: 0rem 3rem;
	}
	.film-section h2 {
		font-size: 22px;
	}
	.film img {
		width: 95px;
	}
	.film-text h3 {
		font-size: 14px;
	}

	.film-text p {
		font-size: 13px;
	}
	.slick-prev,
	.slick-next {
		top: 30% !important;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.film-section {
		height: 320px;
		padding: 0rem 5rem;
		gap: 0.4rem;
	}
	.film-section h2 {
		font-size: 22px;
	}
	.film img {
		width: 100px;
	}
	.film-text h3 {
		font-size: 14px;
	}

	.film-text p {
		font-size: 13px;
	}
	.slick-prev,
	.slick-next {
		top: 32% !important;
	}
}
