.movie-section {
	width: 100%;
	padding: 2.7rem 0rem;
}

.movie-header {
	width: 100%;
	color: white;
	display: flex;
	align-items: center;
}

.gradient {
	width: 100%;
	height: 100%;
	padding: 2rem 0rem;
	background-image: linear-gradient(
		to right,
		rgba(0, 0, 0, 0.827) calc((50vw - 170px) - 340px),
		rgba(0, 0, 0, 0.711) 50%,
		rgba(0, 0, 0, 0.183) 100%
	);
	display: flex;
	align-items: center;
}

.info-container {
	max-width: 70%;
	padding: 1rem 5rem;
	display: flex;
	align-items: center;
	gap: 4rem;
}

.info-container img {
	width: 300px;
	border-radius: 10px;
	box-shadow: 0 0 2px rgb(161, 161, 161);
}

.text-container {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.5rem;
}

.text-container h2 {
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 1px;
}
.text-container h3 {
	font-size: 17px;
}

.text-container h4 {
	font-size: 18px;
	font-style: italic;
}

.text-container p {
	font-size: 15px;
	font-weight: lighter;
}

.form {
	width: 100%;
	display: flex;
	flex-direction: column;
	color: white;
}

textarea {
	max-height: 100px;
	background-color: rgba(255, 255, 255, 0.235);
	border: 1px solid rgb(119, 119, 119);
	outline: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.chars {
	text-align: right;
	color: rgb(204, 204, 204);
	font-weight: 100;
	font-size: 12px;
}

.btn-submit {
	font-size: 17px;
	font-weight: 500;
	padding: 0.2rem;
	background-color: #059179;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.btn-submit:hover {
	font-size: 17px;
	padding: 0.2rem;
	background-color: #03806b;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

@media (max-width: 767px) {
	.gradient {
		background-image: linear-gradient(
			to bottom,
			rgb(0, 0, 0) calc((50vw - 170px) - 340px),
			rgba(0, 0, 0, 0.737) 50%,
			rgba(0, 0, 0, 0.596) 100%
		);
	}
	.info-container {
		max-width: 100%;
		padding: 0rem 1rem;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}
	.info-container img {
		width: 350px;
	}
}

@media (max-width:1024px) {
	.text-container h2 {
		font-size: 22px;
	}
	.text-container h3 {
		font-size: 14px;
	}
	
	.text-container h4 {
		font-size: 13px;
	}
	
	.text-container p {
		font-size: 11px;
		font-weight: normal;
	}
	textarea {
		font-size: 11px;
	}
	.btn-submit {
		font-size: 14px;
		font-weight: 500;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.info-container {
		max-width: 100%;
		padding: 0rem 2rem;
		display: flex;
		gap: 0.5rem;
	}
	.info-container img {
		width: 200px;
	}
	.text-container {
		padding: 2rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 0.5rem;
	}
}

