.film-section {
    width: 100%;
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.film-section h2{
    font-size: 26px;
    font-weight: 700;
}

.film-list {
    
}

.film {
    display: flex;
    flex-direction: column;
    width: 160px;
    gap: 0.6rem;
}

.film:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

.film:not(:hover) {
    transform: scale(1);
    transition: 0.4s;
}

.film img {
    border-radius: 10px;
}

.film-text {
    display: flex;
    flex-direction: column;
    padding: 0rem 0.5rem;
}

.film-text h3 {
    font-size: 17px;
    font-weight: 500;
}

.film-text p {
    font-size: 16px;
    font-weight: lighter;
}

/** Slider */

.slick-prev,
.slick-next {
	top: 35%;
}
