.nav {
	width: 100%;
	background: linear-gradient( 135deg, #04987f, #058a74 );
	box-shadow: 0 0 2px black;
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0.4rem 2rem;
}

.nav h1 {
	font-size: 30px;
	font-weight: 800;
	letter-spacing: 2px;

}

.nav-links {
	font-size: 20px;
	display: flex;
	align-items: center;
	gap: 2rem;
}
